{{>header}}

<h2>Adicionar post</h2>

<form method="POST">
  <label>Título</label>
  <input type="text" name="title"/>

  <label>Corpo</label>
  <input type="text" name="body"/>

  <label>Tags</label>
  <input type="text" name="tags"/>

  <input type="submit" value="Salvar"/>
</form>